*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

.background{
    background-image: url(netflixbackground.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.background::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 0;
}

.header{
    top: 0;
    left: 0;
     width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    z-index: 1;

}

.logo{
    height: 50px;
}

.content{
    position: relative;
    text-align: center;
    z-index: 1;
    top: 25%;

}
.signin-btn{
    background-color: #e50914;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;

    
} 
.signin-btn:hover{
    background-color: #f40612;
}
.email-form input{
    width: 350px;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
}
.email-form button{
    background-color: #e50914;
    color: white;
    width: 125px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.email-form:hover{
    
}